name: Build and Test Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # midnight EST
    - cron:  '0 5 * * *'
  # allow this to be scheduled manually in addition to cron
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Pkg + Dependencies
        run: |
          python -m pip install git+https://github.com/bbalasub1/glmnet_python.git@1.0
          python -m pip install .[dev]
      - name: Test with pytest
        run: |
          python -m pytest -ra
      - name: Build wheels pkg
        run: |
          python setup.py bdist_wheel

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        pip install flake8
    - name: Flake8
      run: |
        flake8

  test-deploy-website:
    name: Test website build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: "./website/yarn.lock"
      - name: Install Pkg + Dependencies
        run: |
          python -m pip install git+https://github.com/bbalasub1/glmnet_python.git@1.0
          python -m pip install .[dev]
      - name: Build website
        run: bash ./scripts/make_docs.sh -n
